In [46]:
import pandas as pd
data = pd.read_csv("hours_scores_records.csv")
print(data.shape)
data.head()

(100, 2)

   Hours  Scores
0    2.5    21.0
1    5.1    47.0
2    3.2    27.0
3    8.5    74.0
4    3.5    30.0

In [47]:
mean_hours = data['Hours'].mean()
print("Hours Mean:", mean_hours)
mean_scores = data['Scores'].mean()
print("Scores Mean:", mean_scores)

Hours Mean: 5.093
Scores Mean: 51.94

In [48]:
data['Hours - Mean_Hours'] = round(data['Hours'] - mean_hours, 3)
mean1 = data['Hours - Mean_Hours'].mean()
mean1

3.1086244689504386e-17

In [49]:
data['Scores - Mean_Scores'] = round(data['Scores'] - mean_scores, 3)
mean2 = data['Scores - Mean_Scores'].mean()
mean2

5.995204332975846e-16

In [50]:
data['product'] = data['Hours - Mean_Hours']*data['Scores - Mean_Scores']
mean3 = data['product'].mean()
mean3

1.8165800000000007

In [51]:
data['mean_x_squared'] = data['Scores - Mean_Scores']**2
data['mean_x2_squared'] = data['Hours - Mean_Hours']**2

In [52]:
mean_x2 = data['mean_x2_squared'].mean()
mean_x2

3.8624510000000005

In [53]:
slope = mean3/mean_x2
slope

0.47031794060300064

In [54]:
c = mean2 - (slope*mean1)
c

5.849000147141359e-16

In [63]:
import numpy as np
z = (slope*(data['Hours'].astype(float))) + c
data["y"] = 1/(1+np.exp(-z))
data.to_csv('score_updated.csv', index = False)
data.head()

,Hours,Scores,Hours - Mean_Hours,Scores - Mean_Scores,product,mean_x_squared,mean_x2_squared,y
0,2.5,21.0,-2.593,-30.94,80.22742,957.2836,6.723649,0.764191
1,5.1,47.0,0.007,-4.94,-0.03458,24.4036,0.000049,0.916722
2,3.2,27.0,-1.893,-24.94,47.21142,622.0036,3.583449,0.818322
3,8.5,74.0,3.407,22.06,75.15842,486.6436,11.607649,0.981973
4,3.5,30.0,-1.593,-21.94,34.95042,481.3636,2.537649,0.838365