In [42]:
import pandas as pd
import random
from scipy import stats
df = pd.read_csv('height_weight_bmi.csv')
print(df.shape)
df.head()

(8388, 4)

   Unnamed: 0  Weight (kg)  Standing Height (cm)  BMI(kg/m**2)
0           0         97.1                 160.2          37.8
1           1         98.8                 182.3          29.7
2           2         74.3                 184.2          21.9
3           3        103.7                 185.3          30.2
4           4         83.3                 177.1          26.6

In [43]:
population = df['Standing Height (cm)'].to_list()
population_mean = sum(population)/len(population)
population[:10]

[160.2, 182.3, 184.2, 185.3, 177.1, 152.7, 158.4, 161.2, 161.3, 167.8]

In [44]:
hashed = []
for x in population:
    h = int(((x%3) + (x%5)*4)%len(population))
    hashed.append(h)
hashed[:10]

[1, 11, 17, 3, 8, 13, 16, 6, 7, 14]

In [45]:
sample_size = 10
sample = [population[i] for i in random.choices(hashed, k = sample_size)]
sample

[160.2, 159.2, 157.4, 162.5, 177.1, 172.6, 161.2, 160.2, 172.6, 161.3]

In [46]:
sample_mean = sum(sample)/sample_size
print("Population Mean:",population_mean)
print("Sample Mean:",sample_mean)

Population Mean: 166.64118979494518
Sample Mean: 164.43

In [68]:
std = (sum([(x-sample_mean)**2 for x in sample])/(sample_size - 1))**0.5
std

6.9164939737477455

In [74]:
t = (sample_mean - population_mean)/(std/(sample_size**0.5))
print("T Statistic:",t)

T Statistic: -1.0109740740739108

In [82]:
tail = 1 #1 left tail, 2 two tail, 3 right tail
alpha = 0.05
area = alpha/2 if tail == 2 else alpha
dof = sample_size - 1
critical = abs(stats.t.ppf(area, dof))
print("Critical Value:",critical)

Critical Value: 1.8331129326536337

In [83]:
print("T Statistic:",t)
print("Absolute |Critical Value|:",critical)
if abs(t) > critical:
    print("Reject the null hypothesis.")
else:
    print("Fail to reject the null hypothesis.")

T Statistic: -1.0109740740739108
Absolute |Critical Value|: 1.8331129326536337
Fail to reject the null hypothesis.